html {
    color: fuchsia;
}

/*
body {
    color: pink;
    background-color: thistle
}
*/

h1 {
    color: salmon;
    background-color: aliceblue;
    font-family: "arial";
    font-style: oblique;
}

.cis-260 {
    color: lightsteelblue;
}

.test {
    background-color: firebrick;
}

.link {
    background-color: lightsteelblue;
}


h2 {
    font-family: sans-serif;
    font-weight: 300
}

#special-paragraph {
    color: #d2e6f7;
}

#special-font {
    font-family: cursive;
}

body a {
    font-family: monospace; 
}

p {
    color: lavender;
    font-size: 22 pt;
    background-color: palevioletred;
}

a {
    color: azure;
}
